.module1-container {
  position: fixed;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;      /* on cache l’overflow */
  margin: 0; padding: 0;
}

.fullscreen-img {
  width: 100%;
  height: 100%;
  object-fit: scale-down; /* on garde le ratio de l’image */
  display: block;
}

/* En bonus, on peut aussi cacher toutes les scrollbar (Chrome/Webkit) */
::-webkit-scrollbar {
  display: none;
}