@font-face {
  font-family: "CheeseSauce";
  src: url('~assets/modules/3rfid/Cheese-Sauce.woff2') format("woff2");
}

html, body { margin:0; padding:0; height:100vh; width:100vw; }

body {
  background-repeat: no-repeat !important;
  background-size: contain !important;
  position: relative !important;
  font-family: 'Comic Sans MS', cursive, sans-serif !important;
}

#background {
  z-index: 0;
  position: fixed;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;      /* on cache l’overflow */
  margin: 0; padding: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.overlay-video {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: 100vh;
  pointer-events: none; /* si tu veux pas gêner la WS ou la page */
}

.blob {
  z-index: 2;
  position: absolute;
  width: 400px; height: 240px;
  background-color: white;            /* base avant coloration */
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
  font-size: 1.3em;
  text-align: center;
  pointer-events: none;
  bottom: 0;
  font-family: "CheeseSauce", sans-serif;
}

#blob1 {
  left: calc(25% - 200px);
  mask-image: url('~/assets/modules/3/blob1.svg');
  -webkit-mask-image: url('~/assets/modules/3/blob1.svg');
}
#blob2 {
  left: calc(50% - 200px);
  mask-image: url('~/assets/modules/3/blob2.svg');
  -webkit-mask-image: url('~/assets/modules/3/blob2.svg');
}
#blob3 {
  left: calc(75% - 200px);
  mask-image: url('~/assets/modules/3/blob3.svg');
  -webkit-mask-image: url('~/assets/modules/3/blob3.svg');
}

.fade-out {
  animation: fade-out 1s ease-in-out forwards;
}

@keyframes fade-out {
  0% { opacity: 1; }
  100% { opacity: 0; }
}