@font-face {
    font-family: "CheeseSauce";
    src: url(./assets/Cheese-Sauce.woff2);
}

html, body { margin:0; padding:0; height:100%; }
body {
    /* Chemin vers votre fond */
    background: url("assets/Frame40.png") no-repeat center center;
    background-size: cover;
    position: relative;
    font-family: 'Comic Sans MS', cursive, sans-serif;
}
.blob {
    position: absolute;
    width: 200px;
    height: 140px;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
    font-size: 1.2em;
    text-align: center;
    pointer-events: none;
    bottom: 0%;
    font-family: "CheeseSauce", sans-serif;
}
/* Ajustez ces positions (et chemins vers vos SVG) */
#blob1 {
    left: 10%;
    background-image: url('assets/blob1.svg');
}
#blob2 {
    left: 40%;
    background-image: url('assets/blob2.svg');
}
#blob3 {
    left: 70%;    
    background-image: url('assets/blob3.svg');
}